.tagline-home{

	font-style: italic;
}
.video-container{
width:350px;
margin: 0 auto;
}
.main-text{
	font-size:16px;
}
.video-home{
	margin-top:13px;
}
.bottom-border-home{
	border-bottom: 1px solid #646464;
}
.about-feature{
	margin-top:30px;
}

.center{
	width:100%;
	text-align:center;
}

.top-divider{
	margin-top:40px;
}

.charts_wrapp{
	margin-top:50px;
}


.link-to-journal{
background:#08c;
margin-top:10px;
border:2px solid white;
box-shadow:5px 5px 5px 5px rgba(0,0,0,0.5);
overflow: auto;
margin-top:30px;


}
.link-to-journal p{
  color:white;
  padding-left: 20px;
padding-right: 20px;
  padding-top:10px;
}

#in_pricing{

	
}

.secondary-header{
font-weight:normal;

}

.welcome-message{
	padding-top:50px;

	}

	.start{
		padding-top:30px;
		padding-bottom:30px;
		background: #428bca;
	}

  .start p {
    color:white !important;
  }



.image-slider{
      max-width:100%;
    }

    img{
    	max-width:100%;
    	border: 3px solid white;
    }
.top-spacing{
	margin-top:40px !important;
}


.bottom-spacing{
	margin-bottom:40px;
}
.justify-it p {
  text-align:justify;
}
.about-p{
  text-align:justify;
}
.header-4{
  font-size:14px;
}
.need-help-container p{
  padding-left: 10px;
padding-right: 10px;
text-align: justify;
}


.staff-picture-container{
	width:200px;
	height:150px;
}
.profile-image{
	width:200px}

.profile-picture{
	border: 5px solid white;
	box-shadow:5px 5px 5px rgba(0,0,0,0.6);
	max-width:100%;
}


.testimonial-quote  {
      font-size: 32px;
      font-style: italic;
      position: relative;
      top: 5px;
      font-family: Georgia !important;
      margin-right: 8px; }

.testimonial-text{
	width:100%;
	font-size:20px;
	color:#646464;
}      

.testimonial-name{
	text-align:right;
	margin-bottom:0px;
}

.testimonial-date{
	text-align:right;
	margin-top:0px;
}

.cms_plugin a {

}

#services{

	box-shadow: inset 0 6px 5px -5px rgba(0,0,0,0.3);;
margin: 0;
background: white;
border-top: 1px solid #eee;
}
.step-header{
	font-size:25px;
  padding-top:0px;
	color:#08c;
	padding-top:10px;
  padding-bottom:10px;
}

.step-divider ul{
  padding-left:0px;
}

.result-container{
	width:45%;
	background:white;
	box-shadow:0px 0px 5px 2px rgba(0,0,0,0.3);
	height:auto;
  float:left;
  padding-bottom:10px;
}
.result-margin{
  margin-left:10%;
}
.thirds{
  width:30% !important;
}
.thirds-margin{
  margin-left:5%;
}
.overflow-auto{
  overflow:auto;
  padding-bottom:10px;
}
.blue-text{
color:#08c;
}
.description_wrapper{
	margin-top:10px;
}
.step-description{
margin-top:10px;
}
.result-image-container {
	width:60%;
	margin-left:auto;
	margin-right:auto;

}
.result-description-container p{
  width:80%;
  margin-left:auto;
  margin-right:auto;

}
.result-header{
	font-weight: 800;
text-align: center;
text-transform:uppercase;
color: white;
background: #08c;
padding-top:15px;
padding-bottom:15px;
margin-top:0px;
margin-bottom:0px;

}
.progress-text p {
    text-align:justify;
}
.actual{
  font-size:20px;
  padding-top:5px;
  padding-bottom:5px;

}
.who-if-for-p p{
text-align:justify !important;
}
.p1{
    text-align:justify;
}
.top-100{
  top:350px !important;
}
.p-holder p{
  margin-top:10px;
  padding-left:15px;
  padding-right:15px;
    text-align:justify;
  padding-bottom:15px;

}
.actual p{
  margin-bottom:0px;
}
.result-image-container img{
	margin-top:5px;
}
.step-divider{
	padding-bottom:30px;
  height:450px;
}
.top-video-spacing{
	margin-top:45px;
}
.italics{
	font-style:italic;
}

.title-condition{
  padding-left: 10px;
font-weight: 800
}

.graph-image{
	margin-top:30px;
	box-shadow : 5px 5px 5px rgba(0,0,0,0.7);
}
.section_heading h3 {
    color: #646464;
    font-weight: 800;
    font-style: italic;
    font-size: 35px;
    padding-bottom: 0px;
    display: inline-block;
    margin: 0; }
.box-paragraph{
	font-size:14px !important;
	margin-top:0px !important;
}

.who-it-for-container{
	height:400px;
  margin-bottom:30px !important;
}

.small-top-margin{
	margin-top:10px;
}

.health-facts{
 width: 100%;
background: rgba(66,139,202,1);
border: 2px solid white;
box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);

margin-bottom: 40px;
padding-bottom:30px;
padding-right: 10px;
padding-left: 10px;
}
.image-vibration img{
  display:block;
  margin:0 auto;
  width:50%;
}
.float-right{
  float:right;
}
.quote-container{
 width: 100%;
background:#c7c2af;
border: 2px solid white;
box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
margin-top: 40px;
margin-bottom: 40px;
padding-bottom: 10px;
padding-right: 15px;
padding-left: 20px;
cursor:pointer;
transition:1.5s;
}
.quote-container:hover{
background:#ECB31F
}

.slogan-container{
   width: 100%;
background:#c7c2af;
border: 2px solid white;
box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
margin-top: 40px;
margin-bottom: 40px;
padding-bottom: 10px;
padding-right: 15px;
padding-left: 20px;
color:white;
padding-top: 10px;
}
.slogan-container p {
margin-bottom:0px;
  }

.btn-link{
text-transform: uppercase;
color: #fff;

border-radius: 4px;
padding: 7px 17px;
font-size: 13px;
background: #252528;
-webkit-transition: all .2s linear;
}

.btn-link:hover{
background: #46b8da;
text-decoration: none;
color:white;
}

.risk-facts{
   width: 100%;
background:#c9302c;
border: 2px solid white;
box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
margin-bottom: 40px;
padding-bottom:30px;
padding-right: 10px;
padding-left: 10px;
}
.img-container img{
  border:none;
}

.quote-container {
 color:white;
}
.large{
  font-size:30px;
  font-weight:800;
}
.menopause-facts{
   width: 100%;
background:#ECB31F;
border: 2px solid white;
box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
margin-top: 40px;
margin-bottom: 40px;
padding-bottom:30px;
padding-right: 10px;
padding-left: 10px;
}
#showcase{
	position:relative;
	height:auto;
}
.book-appointment-container{
	padding:12px 5px 8px 8px;
	font-size: 17px;
	position :absolute;
	background: #252528;
	box-shadow:5px 5px 5px rgba(0,0,0,0.7);
	color:white;
	top:10px;
	right:10px;
	-webkit-transition:all .2s linear;
	border-radius :4px;
	font-weight: bold;
	text-transform: uppercase;
}
.book-appointment-container:hover{
background: #2190DB
}
.who-it-for-container{
	height:auto;
}
.whoitfor-selection{
	width:100%;
	height:40px;
	text-align:center;
	color:white;
	font-size:20px;
	text-transform: uppercase;
	-webkit-transition:all .2s linear;
	cursor:pointer;

}
.whoitfor-selection:hover{
background: #2190DB
}
.who-it-for-title{
	height:75px;
	background:black;
padding-top: 25px;
	font-weight:800;
	font-size:20px;
	text-align: center;
	text-transform:uppercase;
	color:white;

}

.shadow-it{
	box-shadow: 0 14px 27px -3px rgba(0,0,0,0.3);
}
.shadow-it img{
	height:480px;
}


.whoitfor-selected{
	background: #2190DB
}

.whoitfor-text{
	padding-top:15px;
}
.container-spacing{
	margin-top:140px;
}
#footer {
  min-height: 260px;
  background-color: #252528;
  color: #fff;
  padding-top: 35px;
  margin-top:0px;
  /* testimonials */
  /* contact */
  /* credits */
  /* inner footer */ }
  #footer .footer_header {
    color: #c4c4c4;
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 40px;
    margin-left: 15px; }
  #footer .recent_posts {
    margin-left: 0px; }
    #footer .recent_posts .post {
      margin-bottom: 70px;
      width: 93%; }
      #footer .recent_posts .post img {
        float: left;
        margin-right: 20px; }
      #footer .recent_posts .post .date {
        font-weight: bold;
        font-style: italic; }
      #footer .recent_posts .post .title {
        display: block;
        color: #b5b5b6;
        font-size: 14px; }
  #footer .testimonials .wrapper {
    margin: 0 auto;
    width: 82%; }
  #footer .testimonials .footer_header {
    margin-left: 30px; }
  #footer .testimonials .quote {
    color: #bfbfc0; }
    #footer .testimonials .quote span {
      font-size: 32px;
      font-style: italic;
      position: relative;
      top: 5px;
      font-family: Georgia !important;
      float: left;
      margin-right: 8px; }
  #footer .testimonials .author {
    margin-top: 40px; }
    #footer .testimonials .author img {
      float: left;
      margin-right: 15px;
      position: relative;
      top: -6px; }
  #footer .testimonials .name {
    font-size: 13px;
    font-weight: bold; }
  #footer .testimonials .info {
    font-style: italic;
    color: #ccc; }
  #footer .contact {
    text-align: right; }
    #footer .contact .footer_header {
      text-align: left;
      margin-left: 35px; }
    #footer .contact input[type="text"], #footer .contact textarea {
      border: none;
      background-color: #1f1f21;
      color: #868687;
      padding: 8px 20px;
      border-radius: 3px;
      font-size: 14px;
      font-family: Lato !important;
      width: 95%;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear;
      margin-bottom: 10px; }
      #footer .contact input[type="text"]:focus, #footer .contact textarea:focus {
        border: none;
        box-shadow: none;
        background-color: #000; }
      #footer .contact input[type="text"]:moz-placeholder, #footer .contact textarea:moz-placeholder {
        color: #868687; }
      #footer .contact input[type="text"]::-webkit-input-placeholder, #footer .contact textarea::-webkit-input-placeholder {
        color: #868687; }
      #footer .contact input[type="text"]:-ms-input-placeholder, #footer .contact textarea:-ms-input-placeholder {
        color: #868687; }
    #footer .contact input[type="submit"] {
      background-color: #3e3e40;
      border: none;
      color: #fff;
      border-radius: 4px;
      padding: 5px 20px;
      font-size: 14px;
      font-weight: bold;
      -webkit-transition: background-color .2s linear;
      -moz-transition: background-color .2s linear; }
      #footer .contact input[type="submit"]:hover {
        background-color: #2190DB; }
  #footer .credits {
    border-top: 1px solid #343437;
    padding: 10px 0px 60px 0px; }
    #footer .credits .social {
      margin-top: 30px;
      text-align: center; }
      #footer .credits .social a {
        margin: 10px; }
        #footer .credits .social a span {
          display: inline-block;
          width: 33px;
          height: 33px; }
          #footer .credits .social a span.ico1, #footer .credits .social a span.icoh {
            background-position: 0px 0px; }
          #footer .credits .social a span.ico2, #footer .credits .social a span.ico2h {
            background-position: -37px 0px; }
          #footer .credits .social a span.ico3, #footer .credits .social a span.ico3h {
            background-position: -75px 0px; }
          #footer .credits .social a span.ico4, #footer .credits .social a span.ico4h {
            background-position: -112px -1px; }
          #footer .credits .social a span.ico5, #footer .credits .social a span.ico5h {
            background-position: -151px 0px; }
          #footer .credits .social a span.ico6, #footer .credits .social a span.ico6h {
            background-position: -188px -1px; }
          #footer .credits .social a span.ico7, #footer .credits .social a span.ico7h {
            background-position: -226px 0px; }
        #footer .credits .social a:hover span.socialicons {
          display: none; }
        #footer .credits .social a:hover span.socialicons_h {
          display: inline-block !important; }
      #footer .credits .social span.socialicons_h {
        display: none; }
    #footer .credits .copyright {
      color: #a6a6a7;
      font-style: italic;
      text-align: center;
      margin-top: 30px; }
    #footer .credits .socialicons {
      background: url("../../img/socialicons.png") no-repeat;
      width: 265px;
      height: 36px; }
    #footer .credits .socialicons_h {
      background: url("../../img/socialicons_h.png") no-repeat;
      width: 265px;
      height: 36px; }
  #footer .info {
    margin-bottom: 10px;
    margin-left: 0; }
    #footer .info .residence {
      margin-left: 0; }
    #footer .info ul {
      margin: 0;
      padding: 0; }
      #footer .info ul li {
        list-style: none;
        font-size: 16px;
        color: white;
        line-height: 23px; }
      #footer .info ul a {
        color: white;
        -webkit-transition: color .2s;
        -moz-transition: color .2s;
        -ms-transition: color .2s;
        transition: color .2s; }
        #footer .info ul a:hover {
          color: #A9B4BB; }
    #footer .info .touch {
      float: right; }
      #footer .info .touch ul li {
        display: inline-block;
        margin-left: 22px; }

/* Global
-------------------------------------------------- */
.page_header {
  background-color: #000;
  color: #fff;
  font-size: 23px;
  display: inline-block;
  padding: 0px 18px; }

.social_icon {
  background: url("../../img/social_icons.png") no-repeat;
  width: 110px;
  height: 18px; }

.contact_social {
  background: url("../../img/contact_social.png") no-repeat;
  width: 180px;
  height: 34px; }


/*@media (max-width: 991px) {
  body {
    padding-top: 0 !important; }

  .navbar.navbar-inverse {
    background: #252528; } }
@media (min-width: 768px) and (max-width: 991px) {
  .navbar {
    margin-bottom: 0; }
    .navbar.transparent.navbar-fixed-top {
      margin-bottom: -70px;
      position: relative;
      top: 999; }
    .navbar.home.navbar-fixed-top {
      margin-bottom: -70px;
      position: relative;
      top: 999; } }
@media (max-width: 767px) {
  .navbar.navbar-inverse .container .navbar-header .navbar-brand {
    margin-left: -5px; }
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    line-height: 25px;
    font-weight: bold;
    padding: 5px 15px 5px 35px; }

  #footer .container {
    padding: 0px 20px; }
  #footer .footer_header {
    margin-left: 0; }
    #footer .footer_header h3 {
      margin-left: 0; }
  #footer .testimonials {
    overflow: hidden;
    margin-bottom: 40px; }
    #footer .testimonials .footer_header {
      margin-left: 0; }
    #footer .testimonials .wrapper {
      float: left;
      width: 100%; }
  #footer .contact {
    margin: 0; }
    #footer .contact .footer_header {
      margin-left: 0; }
    #footer .contact input[type="text"], #footer .contact textarea {
      float: left;
      width: 100%; }
  #footer .info .touch {
    float: none; }
    #footer .info .touch ul {
      margin: 15px 0 15px; }
      #footer .info .touch ul li {
        margin: 0 30px 0 0; }
  #footer .credits {
    margin-top: 20px; } }

*/

.free-consultation-label{
	margin-left:10px;
}    
.overflow-auto{
	overflow:auto;
}

.fixed {

	float:right;

}

.feature-research{
	width:100%;
	
	padding: 0px 0 0px 0;
background: black;
box-shadow: 0 1px 3px 1px #E0E0E0;

}
.btn-research{
	width:90%;
left:15px;
}
.hide-research{
	display:none;
}
.bold{
	font-weight:800;
}

.research-header{
	background: #09314b;
padding: 5px 5px 5px 10px;
color: white;
cursor:pointer;
margin-bottom:0px !important;
border-bottom:2px solid white;
position:relative;
}
.research-container a{
	font-size: 12px;
/* margin-top: 10px; */
line-height: 14px;


}
.contact-button{
	position:absolute;
	top:0px;
	right:10px;

}
.no-top-margin{
	margin-top:0px !important;
}
.glyphicon-chevron-down{
	display:none;
}
.glyphicon{
	font-size:20px;
	position:absolute;
	right:10px;
	top:10px;
}
.container{
  width:970px !important;
  max-width:970px !important;
}

.research-active{
	background-color:#428bca;
}
.whoitfor-selection p {
	font-size: 14px;
  padding-top: 10px;
margin-top: 0px !important;
margin-bottom: 0px !important;


}
.relative{

}
.form-spacing{
	margin-top:50px;
}

#showcase{
  background: white;
  padding-bottom:0px;
  padding-top:25px;
}

.header-title p{
font-weight:800;
}

.learn-more-container{
  background:black
}

.blue-bold{
  color:#08c;
  font-weight:800;
}
.bold{
  font-weight:800;
}
.second-row{margin-left:30px}
.third-row{margin-left:60px; }
.fourth-row{margin-left:90px; }
.fifth-row{margin-left:120px; }
.blue-background{
  background:#08c;
  padding:10px 10px 10px 10px;
}
.how-it-works-container{
  background:  #006699
}

.home-container{
  overflow:auto;
  min-height:300px;
  margin-top:30px;
}

.section_heading{


padding: 10px 10px 10px 10px;
border-radius: 22px;
}
.uppercase{
	text-transform:uppercase;
}

.top-spacing-small{
  margin-top:10px;
}
.only-white{
  color:white;
}
.first-container{
min-height:400px;
}
.only-white{
  color:white;
}
.about-button p {
  margin-bottom:0px;
}
.about-container{
  min-height:250px;

}

.image-background{
  background-size:100%;
  margin-top:30px;
  height:200px;
  border: 3px solid white;
box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
position:relative;
}
.home-feature-container p{
  font-weight:400;
  color:white;
}

.home-feature-container:hover p{
  font-weight:800;
} 

.home-feature-container{
  height:260px;
  margin-top:50px;
  position:relative;
  width:30%;
  float:left;
 color:white;
  padding-left:10px;
  padding-right:10px;
  border: 1px solid white;
background:#c7c2af;
box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}
.no-weight{
  font-weight:200;
}
.faq-container{


}
.small-top-spacing{
  margin-top:15px;
}
.border-white{
  border-bottom: 2px solid white;
  
}
.border-white p {
  font-weight:800;
}

.text-blue{
  color:#428bca;
}
.left-margin{
  margin-left:5%;
}
.blue-header{
  color:#498fb1;
}
.btn-right{
  position:absolute;
  bottom:10px;
  right:10px;
}
.high-weight{
  font-weight:400;
}
.whoithelps-container{
   
}
.super-high-weight{
  font-weight:800;
}
.small-weight{
  font-weight:400;
}
.image-background-1{
    background:url('/static/img/home-background.jpg');
}
.image-background-2{
    background:url('/static/img/home-background2.jpg');
}
.image-background-3{
    background:url('/static/img/home-background3.jpg');
}

.picture-overlay{
  width:100%;
  position:absolute;
  bottom:0px;
  height:75px;
  background:rgba(0,0,0,0.6);

}

.white{
color:white;
font-weight:800;
}
.just-white{
  color:white;
}
.btn-blue{
  background-color: #edf4f7;
}
.img-slider-1{

}
.image-background p{
  margin-left:10px;
  color:white;
}
.white p {
  color:white;
}
.img-container{
  width:95%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;

}


.button-image{
  position:absolute;
  right:5px;
  bottom:5px;
}

.section_heading_next p{
  font-weight:800;
}



.faq-container-plug{
text-align:justify !important;
}

.need-help-container{
 height:200px;
 background:#428bca ;
 margin-top:50px;
 position:relative;
 box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
 border: 3px solid white;

}
.need-help-container p{
  color:white;
}
.border-bottom-white{
  border-bottom:1px solid white;
}
.btn-full{
  width:90%;
  position:absolute;
  height:40px;
  bottom:10px;
}

.bold p{
  font-weight:600;
}
.btn-dark{
  background:#09314b;

  color:white;
}

.btn-dark:hover{
background:#46b8da;
color:white;
}
.smilingwomen{
  position:absolute;
  bottom:0px;
  width:375px;
  right:0px;
}
#in_pricing{
  margin-top:0px !important;
}
.relative{
  position:relative;
}
.showcase{
  background:#f7f7f7;
  box-shadow: inset 0 6px 5px -5px rgba(0,0,0,0.3);
  padding-bottom:30px;
  height:auto;
}
.slide-lean{
  border-left:3px solid white;
   border-right:3px solid white;
  background-size:100%;

  height:477px;
  width: 959px;
  box-shadow: inset  0 5px 5px 5px rgba(0,0,0,0.5);


opacity: 0;
}
.slide-header{
  text-transform:uppercase;
margin-top:0px;
margin-bottom:0px;
  color: white;
text-transform: uppercase;
font-weight: 800;

}
.slide-word-container{
  position:absolute;
  top:140px;
  background: #262626;
left: 35px;
padding: 10px 20px 10px 20px;
font-size:45px;

}

.black{
	background:rgba(0,0,0,0.5) !important;
}
.slide0{
   background:url('/static/img/slider-0.png') no-repeat;
}
.slide4{

  background:url('/static/img/slider-1.jpg') no-repeat;
}
.slide-new{

  background:url('/static/img/slider-new.jpg') no-repeat;
}
.slide1{
  background:url('/static/img/slider-2.jpg') no-repeat;
}
.slide2{
  background:url('/static/img/slider-3.jpg') no-repeat;
}
.slide3{
  background:url('/static/img/slider-4.jpg') no-repeat;
}
.dark-blue{
	background-color:	 rgba(44, 62, 80,0.8) !important;
}
.slider{
  height:480px;
}
.brown{
  background-color:rgba(38,38,38,0.5) !important;
}
.steps-container{
	height:450px;
	position:relative;
	padding-left:0px;
	padding-right:0px;
	width:45%;
	float:left;
	background:white;
	border-radius:20px;
	box-shadow:0px 0px 11px 4px rgba(-1,0,0,0.3);
}
.left-spacing{
  margin-left:10%;
}
.progress-header{
	width: 100%;
box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.4);
}
.steps-margin{
	margin-left:4%;
}
.the-process-section{

}
.blue-font{
	color:#08c;
	margin-left:10px;
}
.small{
	font-weight:400;
}
.number{
color:#646464;
	font-weight:800;
	font-size:30px;
	padding-bottom:10px;
	padding-top:10px;
}

.faq-header{
	background:#09314b;
	text-transform:uppercase;
	color:white;
	font-weight:400;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
}

.slide-description-container{
width: 45%;
height: 165px;
position: absolute;
top: 200px;
background: #262626;
left: 35px;
padding: 10px 20px 10px 20px;

}
.blue{
  background-color:rgba(0,0,0,0.5);
}
.bold{
  font-weight:800;
}
.slide-description{
  color: white;
font-size: 23px;
font-weight: 400;
line-height:25px;
margin-top:10px;
}
#feature_slider {
max-width:2500px !important;
border-bottom:3px solid white;
}

.first-how-it-works{
height:600px;

}

#features{
	margin-top:20px !important;
}

.steps-container img{
	border:none;
	
}
.steps-container-main{
	overflow:auto;
  margin-top:10px;
	border-radius:0px;
}

.step-num{

 position: absolute;
top: 0px;
left: 0px;
background: #00d2ff;
padding-left: 20px;
padding-right: 20px;
color: white;
}


.image-container-steps{
	width:40%;
  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
}
.shadow-it{
	box-shadow: inset 0 6px 5px -5px rgba(0,0,0,0.3);
}
.progress-text{
	
	width:80%;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;

}
.progress-text h3{
text-align:center;
  }
.not-bold{
  font-weight:400;
}
.no-margins{
  margin-top:0px;
  margin-bottom:0px;
}
.results{
background: rgba(66,139,202,0.9);
padding:10px 10px 10px 10px;
box-shadow: 5px 3px 7px 2px rgba(0,0,0,0.6);
position:absolute;
right:0px;
bottom:25px;
z-index:1000;

}
@media screen and (max-width: 699px) {
    .navbar-inverse {
      position: absolute
    }}
@media screen and (max-width: 699px) {
    .navbar-header {
      position: absolute
    }}

.btn-primary:hover{
 background: #46b8da

}

.condition-table{
  width:100%;
  background: rgba(66,139,202,1);
  border:2px solid white;
  box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
  margin-top:40px;
  margin-bottom:40px;
}

.btn-primary p{
  margin-bottom:0px;
}
.condition-table th{ 
  width:33%;
  text-align:center;
  color:white;
  border:1px solid white;
  vertical-align: top;


}
.condition-table td{ 
 
  color:white;
  border:1px solid white;
  vertical-align: top;

}

.condition-table td ul{ 
 
margin-top: 10px;
font-weight: 800;
}


}
.condition-table th p{ 
font-weight:800;
text-transform:uppercase;

}

.banner-title-how-it-work{
	margin-top:20px;
}

.banner-link-osteo {
	margin-top:0px;
		color: white;
	text-align:center;
	font-weight:800;
	margin-bottom:0px;
	font-size: 16px;
  text-transform:uppercase;
  border-bottom:1px solid white;
}

.banner-link-osteo-container{
	background: black;
border: 1px solid white;
box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.5);
cursor:pointer;
transition:1s;
}
.banner-link-osteo-container:hover{
	background:#08c;
}

.btn-black{
background:black;
margin-bottom:10px;
margin-left:10px;
color:white;
}
.link-button{
  text-transform: uppercase;
color: #fff;
font-weight: bold;
border-radius: 4px;
padding: 7px 17px;
font-size: 17px;
background: #252528;
-webkit-transition: all .2s linear;
margin-bottom:10px;
margin-right:10px;
margin-top:10px;
}
.link-button:hover{
  background:#46b8da;
  color:white !important;
}

.right{
  float:right
}
.useful-link-header{
  height: 75px;
padding-top: 25px;
font-weight: 800;
font-size: 20px;
text-align: center;
text-transform: uppercase;
color: white;
border-bottom:1px solid white;
margin-bottom: 0px;
}
.useful-links{
  background:black;
  margin-top:0px;

  }
.health-facts ul{
  color:white !important;
  background:rgba(66,139,202,1) !important;
}
.risk-facts ul{
  color:white !important;
  background:#c9302c !important;
}
.meopause-facts ul{
  color:white !important;
  background:#c7c2af!important;
}

.health-facts p{
  color:white !important;
  padding-left:10px;
background:rgba(66,139,202,1) !important;
}
.risk-facts p{
  color:white !important;
  padding-left:10px;
  background:#c9302c !important;
}
.menopause-facts p{
  color:white !important;
  padding-left:10px;
  background:#ECB31F!important;
}
.col-lg-6{
  width:50% !important;
}

.menopause-facts ul{
  background:#ECB31F!important;
  color:white !important;

}

.large-container{
  width:100%;
}
.smaller-header{
  font-size:17px;
  line-height: 17px;
  height:70px;
}
#feature_slider{
  margin-top: 110px;
}
.navbar{
  padding-bottom: 0px;
}
.nav{
  margin-top: 40px;
}
.logoimg{
  border:none;
  
  margin-top:-20px;
}
.residence li{
  color:white;
}
  .health-fact-header{
padding-top: 5px;
margin-top:0px !important;
font-weight: 800;
font-size: 20px;
padding-left:30px;
text-transform: uppercase;
color: white;
border-bottom:1px solid white;
  }


  .main-heading ul{
    list-style-image:url('/static/img/checkmark.png');
  }
  .main-heading li{
    font-size:15px;
  }
}

}

  }