{% load cms_tags %}

                       <div class= "col-sm-12 top-spacing faq-container-plug">
                            <h4 class="faq-header">{% render_model instance.faq "question" %}</h4>
                            <p>{% render_model instance.faq "answer"%}</p>
                        </div>
                  



