
{% load cms_tags %}
<div class="col-sm-3 perk top-spacing step-divider">
                <div class="col-sm-12 ">
                    <img src="{{MEDIA_URL}}{{instance.step.image}}" alt="">
                </div>

                <div class="col-sm-12 description_wrapper">
              
                <h4 class='center bold step-header'>{% render_model instance.step "title" %}</h5>
                    <p class="step-description">
                    	{% render_model instance.step "description"   %}
                       </p>
                </div>
   
            </div>