{% load cms_tags %}

                    <div class="col-sm-6 bio_box">
                        <div class="profile-image">
                        <img src= "{{MEDIA_URL}}{{instance.staff.profileimage}}" class="profile-picture" alt="">
                        </div>
                        <div class="info">
                            <h3 class="name">{% render_model instance.staff "name" %}</h3>
                            <p>{% render_model instance.staff "content" %}</p>
                        </div>
                    </div>



    </div>  