{% load cms_tags %}

                       <tr>
                       	<td class="title-condition">
                            {% render_model instance.condition "condition" %}
                        </td>
                           <td>
                          {% render_model instance.condition "cure" %}
                      	  </td>
                        </tr>
                  



