
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} About Us{% endblock add_title %}
{%block base_content %}
<div class="container bottom-spacing container-spacing">
    <h1> The page you are looking for can't be found. </h1>

   <a href = "/"> <button class="btn btn-success">Return to main page</button></a>
 </div>





{%endblock base_content %}

