
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} About Us{% endblock add_title %}
{%block base_content %}
<div class="container bottom-spacing container-spacing">
    <div class="col-sm-12 section_heading center">
     <h3 class= "uppercase">{% placeholder title_text %} </h3>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-6">
        <div class="feature first">
                            <div class="text about-feature">
                                 <h4 class="tagline-home"> <span class="bold">{%placeholder home-tagline %}</span></h4>
                                    <div class="about-p">
                                    {% placeholder about_text %}
                                    </div>
                                  
                               
        </div>
    </div>
</div>

        <div class="col-sm-5 col-md-offset-1">
<div class="link-to-journal">
            <h3 class="banner-link-osteo">
            Mission Statement
            </h3>
        <span class="banner-title-how-it-work">
            {% placeholder "mission-statement" %}
    </span></div>

        </div>
    </div>

</div>


<div id="team" style="display:none">
    <div class="container">
        <div class="section_header">
                <h3>{% placeholder staff_header %}</h3>
            </div>
<div class="row row1 people">
{% placeholder add_staff %}
</div>

</div>  
     </div>   
</div>    





{%endblock base_content %}

