<!DOCTYPE html>
{% load cms_tags staticfiles sekizai_tags menu_tags %}

<html>
<head>
  <title>{% block add_title %} {% endblock add_title %}- OsteoWorks - Natural Proven Treatment and Prevention of Osteoporosis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=1150" />
  {% render_block "css" %}
    <!-- Styles -->
    <link href="{{STATIC_URL}}css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/compiled/bootstrap-overrides.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/theme.css" />
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/main.css" />
          <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/animate.css" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{STATIC_URL}}favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{STATIC_URL}}favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{STATIC_URL}}favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{STATIC_URL}}favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{STATIC_URL}}favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}favicon/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="{{STATIC_URL}}favicon/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
     <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/about.css" />
       <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/services.css" />
              <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/lean-slider.css" />
              <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700,800' rel='stylesheet' type='text/css'>


    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <link rel="stylesheet" href="{{STATIC_URL}}css/compiled/index.css" type="text/css" media="screen" />    
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/lib/animate.css" media="screen, projection" />    
    {% block add_styles %}
    {% endblock add_styles %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53321607-1', 'auto');
  ga('send', 'pageview');

</script>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="pull_top">
      {% cms_toolbar %}
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-ex1-collapse">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a href="/" class="navbar-brand"><img class="logoimg" src="{{STATIC_URL}}img/logo.png"></a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                  {% show_menu 0 100 100 100 "menu.html" %}
                   
                </ul>
            </div>
        </div>
    </div>

{%block add_slider %}

{%endblock add_slider %}

{% block base_content %}
        
{% endblock base_content %}
    <!-- starts footer -->
               <div id = "in_pricing">
                

             <div class="start">
              <div class="container">
                <p class="only-white">Start today and improve your bone health & wellness</p>
                <a href="/contact/contact-us" class="bounce-button">Contact Us</a>
                <a style = "margin-left:15px"  class="bounce-button" href="/contact/book-free-consultation">Book A Free Consultation</a>
            </div>
          </div>
        </div>
   <footer id="footer">
        <div class="container">
            <div class="row info">
                <div class="col-sm-6 residence">
                    <ul>
                        <li>3345 West 4th Avenue</li>
                        <li>Vancouver, BC, Canada</li>
                        <li>V6R 1N6</li>
                    </ul>
                </div>
                <div class="col-sm-6 touch">
                    <ul>
                        <li><strong>Phone:</strong>604-630-3773</li>
                        <li><strong>Email:</strong><a href="emailto:info@osteoworks.ca"> info@osteoworks.ca</a></li>
                    </ul>
                </div>
            </div>
            <div class="row credits">
                <div class="col-md-12">
                    <div class="row social">
                        <div class="span12">
                            <a href="https://www.facebook.com/OsteoWorksVancouver" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href=" https://twitter.com/Osteoworksvan" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row copyright">
                        <div class="col-md-6" style="text-align:left;color: white;">
                            © 2014 Osteoworks. All rights reserved. 
                        </div>
                        <div class="col-md-6" style="text-align:right;color: white;">
                            Site Built By <a href = "http://www.revolutiondigital.ca">Revolution Digital</a>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_URL}}js/theme.js"></script>
 {% render_block "js" %}
    <script type="text/javascript" src="{{STATIC_URL}}js/index-slider.js"></script> 
     <script type="text/javascript" src="{{STATIC_URL}}js/waypoints.min.js"></script>
       <script type="text/javascript" src="{{STATIC_URL}}js/lean-slider.js"></script>  
     <script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>  
 
     {% block add_script %}
     {% endblock add_script %}
</body>
</html>