
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} Contact{% endblock add_title %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/contact.css" media="screen, projection" />    
{% endblock add_styles %}

{%block base_content %}

<div id="contact">
        <div class="container container-spacing">
            <a href="/contact/book-free-consultation">
                <button class="btn btn-dark contact-button">
                    Get A Free Consultation
                </button> 
            </a>   
            <div class="section_header section_heading center">
               <h3 class= "uppercase ">{% placeholder contact_title %} </h3>
            </div>
            <div class="row contact">
                {% placeholder contact_information %}
{% if request.GET.message %}<div class="alert alert-success">
      <strong>Thank You!</strong> We Have Recieved Your Message and Will Get Back To You As Soon As Possible!
    </div>{% endif %}
                <form method ="post" action="/sendemail" class= "form-spacing">
                    {% csrf_token %}   
                    <div class="row form">
                        <div class="col-sm-6 row-col">
                            <div class="box">
                                <input class="name form-control" type="text" placeholder="First Name" name ="first_name">
                                <input class="name form-control" type="text" placeholder="Last Name" name ="last_name">
                                <input class="mail form-control" type="email" placeholder="Email" name="email">
                                <input class="phone form-control" type="number" placeholder="Phone" name="phone">
                                <h4 class="header-4">How Did You Hear About Us?</h4>
                                <select class="how-you-hear form-control"  placeholder="How Did You Hear About Us" name="hear_about_us">
                                    <option value="search-engine">Search engine</option>
                                    <option value="health-professional">Health Professional</option>
                                    <option value="seminar-newsletter">Seminar and Newsletter</option>
                                    <option value="referral">Referral</option>
                                    <option value="printed-advertisement">Printed Advertisement</option>
                                    <option value="facebook-page">Facebook Page</option>
                                    <option value="twitter">Twitter</option>
                                    <option value="other">Other</option>
                                 </select>   
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                  <input class="phone form-control" type="text" placeholder="Best Time To Call ( eg. 9:00am )" name="time-to-call">
                                <textarea placeholder="What Can We Help You With?" class="form-control" name ="message"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row submit">
                        
                        <div class="col-md-3 right">
                            <input type="submit" value="Send your message">
                        </div>
                    </div>
                </form>
            </div>
        

        <div class="map">
            <div class="container">
                <div class="box_wrapp">
                    <div class="box_cont">
                        <div class="head">
                            <h6>Contact</h6>
                        </div>
                        <ul class="street">
                            <li>{% placeholder "address" %}</li>
                            <li>{% placeholder "city" %}</li>
                            <li>{% placeholder "postal_code" %}</li>
                            <li class="icon icontop">
                                <span class="contacticos ico1"></span>
                                <span class="text">604-630-3773</span>
                            </li>
                            <li class="icon">
                                <span class="contacticos ico2"></span>
                                <a class="text" href="mailto:info@osteoworks.ca">info@osteoworks.ca</a>
                            </li>
                        </ul>

                        <p>{% placeholder book_appointment %}</p>

                        <a href="#" class="btn">Book Appointment</a>
                    </div>
                </div>
            </div>
            </div>
         <iframe width="100%" height="600" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=3345%20West%204th%20Avenue%2C%20Vancouver%2C%20BC%2C%20Canada&key=AIzaSyCbMfcwvAEZlS6UGbpY4CkPiJLZQhkgSzY"></iframe>
      
        </div>
    </div>

    {%endblock base_content %}