
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/contact.css" media="screen, projection" />    
{% endblock add_styles %}
{% block add_title %} Book a Free Consultation{% endblock add_title %}
{%block base_content %}

<div id="contact">
        <div class="container container-spacing">
            <div class="section_header section_heading center">
               <h3 class= "uppercase ">{% placeholder contact_title %} </h3>
            </div>
            <div class="row contact">
                {% placeholder contact_information %}
{% if request.GET.message %}<div class="alert alert-success">
      <strong>Thank You!</strong> We Have Recieved Your Request For A Free Consultation and Will Get Back To You As Soon As Possible!
    </div>{% endif %}
                <form method ="post" class= "form-spacing" action="/bookconsultation">
                    {% csrf_token %}   
                    <div class="row form">
                        <div class="col-sm-6 row-col">
                            <div class="box">
                                <input class="name form-control" type="text" placeholder="First Name" name ="first_name">
                                <input class="name form-control" type="text" placeholder="Last Name" name ="last_name">
                                <input class="mail form-control" type="email" placeholder="Email" name="email">
                                <input class="phone form-control" type="number" placeholder="Phone" name="phone">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="box">
                                  <input class="phone form-control" type="text" placeholder="Best Time To Call ( eg. 9:00am )" name="time-to-call">
                                <textarea placeholder="What Can We Help You With?" class="form-control smaller-contact" name ="message"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row submit">
                        <div class="col-md-12 overflow-auto">
                            <div class="col-md-12">
                            <h3>{%placeholder "help_you_with" %}</h3>
                        </div>
                        <div class="col-md-6 overflow-auto">
                          <h5>Reason for interest in Osteoworks Program:</h5>
                            <div class="col-md-6">
                            <input type="checkbox" name = "osteoporosis"><label class="free-consultation-label" >Osteoporosis</label>
                             </div>
                             <div class="col-md-6">
                            <input type="checkbox" name = "osteopenia"><label class="free-consultation-label" >Osteopenia</label>
                             </div>
                             <div class="col-md-6">
                            <input type="checkbox" name = "joint_back_pain"><label class="free-consultation-label" >Joint Integrity</label>
                             </div>
                             <div class="col-md-6">
                            <input type="checkbox" name = "better_balance"><label class="free-consultation-label" >Better Balance</label>
                             </div>
                                  <div class="col-md-6">
                            <input type="checkbox" name = "improve_strength"><label class="free-consultation-label" >Muscular Strength</label>
                             </div>
                             <div class="col-md-6">
                            <input type="checkbox" name = "improve_posture"><label class="free-consultation-label" >Improve Posture</label>
                             </div>
                                  <div class="col-md-6">
                            <input type="checkbox" name = "other"><label class="free-consultation-label" >Other</label>
                             </div>
                         </div>
                        
                        <div class="col-md-6 overflow-auto">
                            <div class="col-md-3 right">
                                <input type="submit" value="Book A Free Consultation">
                            </div>
                        </div>   </div> 
                    </div>
                </form>
            </div>
        

  
    </div>

    {%endblock base_content %}