{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} Home{% endblock add_title %}
{% block add_slider %}

   
    <section id="feature_slider" style= "" class="">
       
<div class="container slider relative slider-wrapper " >
    <div id = "slider" class="lean-slider">  

        <div class="slide1 lean-slider-slide slide-lean">
        <div class="slide-word-container blue">
            <h2 class="slide-header">Prevention</h2>
        </div>    
        <div class="slide-description-container blue">
           <h3 class="slide-description "> OsteoWork's technology is a <span class="bold">natural preventative care solution</span> to proactively build strong and healthy bones for a lifetime.</h3>
         </div>   
    </div>  
          <div class="slide2 lean-slider-slide slide-lean">
        <div class="slide-word-container black">
            <h2 class="slide-header">Process</h2>
        </div>    
        <div class="slide-description-container black">
           <h3 class="slide-description "> A 5 minute <span class="bold">non-pharmaceutical</span> program that <span class="bold">builds bone density</span> and muscle strength through a safe and proven process.</h3>
         </div>   
    </div> 

         <div class="slide3 lean-slider-slide slide-lean">
        <div class="slide-word-container dark-blue">
            <h2 class="slide-header">PROGRESS</h2>
        </div>    
        <div class="slide-description-container dark-blue">
           <h3 class="slide-description "> Reports that track your individual progress after every session with <span class="bold">measurable results.</span></h3>
         </div>   
    </div> 
    <div class="slide4 lean-slider-slide slide-lean">
        <div class="slide-word-container brown">
            <h2 class="slide-header">PERFORMANCE</h2>
        </div>    
        <div class="slide-description-container brown">
           <h3 class="slide-description ">  <span class="bold">Significant muscular strength gains</span> can be seen from just a single session. </h3>
         </div>   
    </div>  
</div>
    <div id="slider-direction-nav"></div>  
    <div id="slider-control-nav"></div>
   
     </div>
    </section>

    {% endblock add_slider %}

{% block base_content %}
<div id ="showcase" class="welcome-message">

<div class="container relative first-container">
    <div class="results"><h3 class="white no-margins">Technology Working With Nature</h3></div>
    <img class="smilingwomen" src = "{{STATIC_URL}}img/smilingwomen.jpg">
	<div class="col-sm-6 section_heading main-heading ">
	 <h3 class= "header-title">{% placeholder title_text %} </h3>
	 <h5 class= "section_heading_next"> {% placeholder descriptiontext %}</h5>
     <div class="justify-it">
        {% placeholder descriptionparagraph %}
     </div>

    </div>
    <div class="col-sm-5 col-sm-offset-1 section_heading about-container " >
       
        <h3 > <span class="not-bold">Bone</span> Wellness</span></h3>
        <h3><span class="not-bold  second-row">Stronger</span> Muscles</h3>
         <h3><span class="not-bold  third-row">Healthier </span> Joints</h3>
        <h3><span class="fourth-row not-bold">Better</span> Balance</h3>
  
    </div>
</div>
</div>
<div class="showcase">
		<div class='container '>	 
           <a href = "/who-is-it-for/">
            <div class= " home-feature-container faq-container">
                <div class= "img-container">
                    {%placeholder "image1" %}
                    
                    <h3 class="center">{% placeholder "lower-title-1" %}</span></h2>
                     
                </div>    
        
            
                 
                    
               
            </div>
            </a> 
            <a href = "/how-it-works/">
            <div class= "left-margin home-feature-container whoithelps-container">
              <div class= "img-container">
                    {%placeholder "image2" %}
                     
                         <h3 class="center">{% placeholder "lower-title-2" %}</h2>

                </div>    
                       </div>
                        </a>  
 <a href = "/about/faq/"> 
                <div class= "left-margin home-feature-container whoithelps-container">
              <div class= "img-container">
                    {%placeholder "image3" %}
                  
                    <h3 class="center">{% placeholder "lower-title-3" %}</h2>
                   
                </div>    
        
              
                    
          
           
            </div>
             </a> 
    </div>           
                    
           <!-- <div class="feature first">
                        <div class="text about-feature">
                             <h4 class="tagline-home">{%placeholder home-tagline %}</h4>
                            <p class= "main-text">
                                {% placeholder about_text %}
                              
                            </p>
                           {%placeholder services_offered %}

                        </div>
                    </div>         <!-- Feature -->
                    <!-- <div class=" col-offset-2 col-sm-6 feature last video-container">
  						<h3 class= "section_heading bottom-border-home"> Learn About Us</h3>

                        <div class="text video-home">
                           
                        </div>
                    </div> 

                </div>
            </div>
  
    
<div id="features">
        <div class="container">
            <div class="section_header section_heading">
                <h3 class="" >{% placeholder "why_choose_osteoworks" %}</h3>
            </div> 
            <div class="row feature">
                <div class="col-sm-6">
                    <h4>{% placeholder "title_1" %}</h4>
                    <p>
                        {% placeholder "content_1" %}
                    </p>
                </div>
                <div class="col-sm-6 ">
                    <h4>{% placeholder "title_2" %}</h4>
                    <p>
                        {% placeholder "content_2" %}
                    </p>
                </div>
            </div>
            <div class="row feature">
                <div class="col-sm-6 ">
                    <h4>{% placeholder "title_3" %}</h4>
                    <p>
                        {% placeholder "content_3" %}
                    </p>
                </div>
                <div class="col-sm-6 ">
                  <h4>{% placeholder "title_4" %}</h4>
                    <p>
                        {% placeholder "content_4" %}
                    </p>
                </div>                
            </div>
          
            </div>
        </div>
    </div>
 >-->

 
        </div>
    
    </div>

   
{% endblock base_content %}


{% block add_script %}
<script>
$(document).ready(function() {

    $('#slider').leanSlider({
       directionNav: '#slider-direction-nav',
            controlNav: '#slider-control-nav',
            pauseTime: 6000,
    });
});
</script>
{% endblock add_script %}
