
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} How it Works{% endblock add_title %}
{%block base_content %}
<section id ="showcase" class="welcome-message first-how-it-works">
<div class="container container-spacing bottom-spacing">
    <div class="col-sm-12 section_heading  center">
     <h3 class= "uppercase">{% placeholder how_it_works_title %} </h3>
    </div>
    <div class="col-sm-7">
  <p class= "top-spacing">
  {% placeholder how_it_works_description %}
	</p>
	<a href= "http://www.dsls.usra.edu/meetings/bonehealth_2005/SG_full_report.pdf">
		<div class="quote-container">

			<h4><span class="large">"</span>Increases in bone mineral density are stimulated by maximum loading of the muscular skeletal system<span class="large">"</span></h3>
				<span class="cite">-- 2004 U.S Surgeon General report on Bone Health and Osteoporosis</h4>
		</div>	
	</a>
	</div>
	<div class="col-sm-5 top-video-spacing">
		{% placeholder how_it_works_video %}
		<div class="link-to-journal">
			<h3 class="banner-link-osteo">
			Osteoporosis International Journal
			</h3>
		<span class="banner-title-how-it-work">{%placeholder "banner-title-how-it-work" %}</h4>
		<a class="link-button right" href = "http://www.academia.edu/6789721/Multiple-of-bodyweight_axial_bone_loading_using_novel_exercise_intervention_with_and_without_bisphosphonate_use_for_osteogenic_adaptation">
			Learn More

	</a>
	</div>
	</div>	


</div>	
</section>

<section class="showcase the-process-section">
	<div class="container top-spacing">
		 <div class="col-sm-12 section_heading  top-spacing center">
	     <h3 class= "">{% placeholder the_process %} </h3>
	    </div>
		    <div class="col-sm-12 section_heading steps-container-main" >
		    	<div class=" steps-container">
		    		<div class="step-num">
		    			<h1>1</h1>
		    		</div>	
		    		<div class="image-container-steps">
		    		

		    		{% placeholder "progress1"%}
		    		</div>
		    		<div class="progress-text">

		    			<h3 class="progress-header">{%placeholder "step-1" %}</h3>
		    			<p class="steps-description">
		    			{%placeholder "step-1-description" %}
		    			<p>
		    		</div>	

		    	</div>

		    	<div class="steps-container left-spacing">
		    			<div class="step-num">
		    			<h1>2</h1>
		    		</div>	
		    		<div class="image-container-steps">
		    		

		    		{% placeholder "progress2"%}
		    		</div>
		    		<div class="progress-text">

		    			<h3 class="progress-header">{%placeholder "step-2" %}</h3>
		    			{%placeholder "step-2-description" %}
		    		
		    		</div>	

		    	</div>
		    	<div class="steps-container top-spacing">
		    			<div class="step-num">
		    			<h1>3</h1>
		    		</div>	
		    		<div class="image-container-steps">
		    		

		    		{% placeholder "progress3"%}
		    		</div>
		    		<div class="progress-text">

		    			<h3 class="progress-header">{%placeholder "step-3" %}</h3>
		    			{%placeholder "step-3-description" %}
		    		
		    		</div>	
		    	</div>

		    	<div class="steps-container top-spacing left-spacing">
		    			<div class="step-num">
		    			<h1>4</h1>
		    		</div>	
		    		<div class="image-container-steps">
		    		

		    		{% placeholder "progress4"%}
		    		</div>
		    		<div class="progress-text">

		    			<h3 class="progress-header">{%placeholder "step-4" %}</h3>
		    			{%placeholder "step-4-description" %}
		    		
		    		</div>	

		    	</div>
		   
		    </div>	
	</div>
</section>


<div id ="services">
	<div class="container section_heading ">
		 <div class="col-sm-12 section_heading  top-spacing center">
	     <h3 class= "">{% placeholder "the_steps" %} </h3>
	    </div>
	{% placeholder "add_steps" %}
	
	<h3 class= "top-spacing center">{% placeholder "next_step" %} </h3>
	
	<div class="col-lg-6 top-spacing">
		{% placeholder "body_vibration" %}
	</div>	
	<div class="col-lg-6 top-spacing">

	<div class="image-vibration">
		{%placeholder "body_vibration_image" %}
	</div>
	<h4 class="center bold step-header" 
>Power Plate<sup></sup></h4>
		<h5 class="center">{% placeholder "image-text" %}</h5>
		<a href="/about/powerplate">
			<button class="btn btn-primary float-right">Learn More</button>
		</a>
	</div>


	</div>
</div>
<section class="showcase the-process-section">

	<div class="container top-spacing">
		 <div class="col-sm-12 section_heading  top-spacing center">
	     <h3 class= "">{% placeholder the_result %} </h3>
	    </div>
	    <div class="col-sm-12 overflow-auto top-spacing">
	    <div class="result-container">
	    	<div class="result-title">
	    		<h3 class="result-header"></h3>
	    	</div>	
	    	<div class="result-image-container">
	    		{% placeholder "bone-image" %}
	    	</div>	
	    	<div class="result-description-container">
	    		<h3 class='center blue-text'>{% placeholder "results-title1" %}</h3>
	    	
	    	</div>	

	    </div>	

	        <div class="result-container result-margin">
	    	<div class="result-title">
	    		<h3 class="result-header"></h3>
	    	</div>	
	    	<div class="result-image-container">
	    		{% placeholder "bone-image2" %}
	    	</div>	
	    	<div class="result-description-container">
	    		<h3 class='center blue-text'>{% placeholder "results-title2" %}</h3>
	    		
	    	</div>	
	    </div>
	</div>
	<div class="col-sm-12 overflow-auto top-spacing">
			<div class="result-container  top-spacing large-container">
				<div class="result-title">
	    		<h3 class="result-header actual">{% placeholder "bottom-title" %}</h3>
	    	</div>	
	    		<div class="p-holder">
					{% placeholder "muscle-paragraph" %}
			</div>
			</div>	
		</div>	
	 <div class="col-sm-12 overflow-auto">


	    	    <div class="result-container top-spacing thirds">
	    	<div class="result-title">
	    		<h3 class="result-header"></h3>
	    	</div>	
	    	
	    	
	    		
	    			<div class="result-description-container">
	    		<h3 class='center blue-text smaller-header' >{% placeholder "muscle-title1" %}</h3>
	    	</div>
	    	<div class="result-image-container ">
	    		{% placeholder "muscle-image" %}
	    	</div>

	    </div>	

	        <div class="result-container thirds-margin top-spacing thirds">
	    	<div class="result-title">
	    		<h3 class="result-header"></h3>
	    	</div>	
	    	
	    	<div class="result-description-container">
	    		<h3 class='center blue-text smaller-header' >{% placeholder "muscle-title2" %}</h3>
	    	</div>
	    	<div class="result-image-container ">
	    		{% placeholder "muscle-image2" %}
	    	</div>		
	    </div>

	     <div class="result-container thirds-margin top-spacing thirds">
	    	<div class="result-title">
	    		<h3 class="result-header"></h3>
	    	</div>	
	    	
	    	<div class="result-description-container">
	    		<h3 class='center blue-text smaller-header'>{% placeholder "muscle-title3" %}</h3>	

	    		<div class="result-image-container ">
	    		{% placeholder "muscle-image3" %}
	    	</div>	
	    	</div>	
	    </div>
	</div>

		
	  </div>  
</section>	

{%endblock base_content %}

