
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} Powerplate{% endblock add_title %}
{%block base_content %}
<div class="container bottom-spacing container-spacing">
    <div class="col-sm-12 section_heading center">
     <h3 class= " ">{% placeholder title_text %} </h3>
    </div>
  <div class="col-sm-8">
  {% placeholder faqs %}
  </div>
  <div class="col-sm-4 need-help-container">
<h3 class="just-white center border-bottom-white"><span class="small-weight">How Can We</span> <span class="super-high-weight">Help?</span></h4>
    {% placeholder "help-text" %}
  <a href="/contact">  
 <button class= "btn btn-dark btn-full">Contact Us</button>
</a>
  </div>  

</div>
{%endblock base_content %}

