
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_slider %}
<section id="feature_slider" class="lol">
    <div class="image-slider">

        {% placeholder banner_image %}
    </div>  
</section>        
{%endblock add_slider %}
{%block base_content %}
<div class="container bottom-spacing top-spacing">
    <div class="col-sm-12">
     <h3 class= "section_heading ">{% placeholder title_text %} </h3>
    </div>
  
  {% placeholder faqs %}


</div>
{%endblock base_content %}

