
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/features.css" media="screen, projection" />    
{% endblock add_styles %}

{%block base_content %}
<div class="container top-spacing bottom-spacing">
    <div class="col-sm-12">
     <h3 class= "section_heading ">{% placeholder header_title %} </h3>
    </div>
    <div id ="features">
    <div class="row feature_wrapper option3">
                    <!-- Feature -->
                    <div class="col-sm-4">
                        <div class="feature">
                            <div class="text">
                                <h6>{% placeholder process-title1 %}</h6>
                                <p>
                                    {% placeholder process-content1 %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Feature -->
                      <div class="col-sm-4">
                        <div class="feature">
                            <div class="text">
                                <h6>{% placeholder process-title2 %}</h6>
                                <p>
                                    {% placeholder process-content2 %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Featu
                    <!-- Feature -->
           			<div class="col-sm-4">
                        <div class="feature">
                            <div class="text">
                                <h6>{% placeholder process-title3 %}</h6>
                                <p>
                                    {% placeholder process-content3 %}
                                </p>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>

</div>	

<div id ="services">
	<div class="container">
		 <h4 class= "section_heading ">{% placeholder graph_title %} </h4>
		 <div class="graph-image">
			{% placeholder graph_image %}
		</div>	
	</div>
</div>
{%endblock base_content %}

