
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} Research{% endblock add_title %}
{%block base_content %}
<div class="container bottom-spacing container-spacing">
    <div class="col-sm-12 section_heading center">

     <h3 class= "uppercase">{% placeholder title_text %} </h3>
    </div>
<div class="col-sm-8">
 <!-- <div class="research-container">
  		<div class="section_header research-header"  id ="research-1">
              <span class="glyphicon glyphicon-chevron-right" id ="research-1-arrow"></span>
               <span class="glyphicon glyphicon-chevron-down" id ="research-1-arrow-down"></span>
                <h4 class="bold">{% placeholder Title_1 %}</h4>
   
</div>
  <div class="top-spacing-small hide-research" id ="research-1-content">
  {% placeholder link_1 %}
    </div>
</div>

  <div class=" research-container" >
    <div class="section_header research-header" id ="research-3">
       <span class="glyphicon glyphicon-chevron-right" id ="research-3-arrow"></span>
                <span class="glyphicon glyphicon-chevron-down" id ="research-3-arrow-down" ></span>
                <h4 class="bold">{% placeholder Title_3 %}</h4>
                </div> 
 <div class="hide-research top-spacing-small" id ="research-3-content">
  {% placeholder link_3 %}
 
</div>
</div>
  <div class="research-container " >
    <div class="section_header research-header" id ="research-4">
       <span class="glyphicon glyphicon-chevron-right" id ="research-4-arrow"></span>
                <span class="glyphicon glyphicon-chevron-down" id ="research-4-arrow-down" ></span>
                <h4 class="bold">{% placeholder Title_4 %}</h4>
                 </div>
               <div class="hide-research top-spacing-small" id ="research-4-content"> 

  {% placeholder link_4 %}

</div>
</div>
  <div class=" research-container" >
    <div class="section_header research-header" id = "research-5">
       <span class="glyphicon glyphicon-chevron-right" id ="research-5-arrow"></span>
                 <span class="glyphicon glyphicon-chevron-down" id ="research-5-arrow-down" ></span>
                <h4 class="bold">{% placeholder Title_5 %}</h4>
   </div>
                <div class="hide-research top-spacing-small" id ="research-5-content">
 
  {% placeholder link_5 %}

</div>
</div>
  <div class="research-container " >
    <div class="section_header research-header" id ="research-6">
       <span class="glyphicon glyphicon-chevron-right" id ="research-6-arrow"></span>
                 <span class="glyphicon glyphicon-chevron-down" id ="research-6-arrow-down" ></span>
                <h4 class="bold">{% placeholder Title_6 %}</h4>
 </div>
 <div class="hide-research top-spacing-small" id ="research-6-content">
  
  {% placeholder link_6 %}

</div>

</div>-->

  <div class="research-container top-spacing" >
    <div class="section_header research-header research-header-click" id ="research-7">
       <span class="glyphicon glyphicon-chevron-right" id ="research-7-arrow"></span>
                 <span class="glyphicon glyphicon-chevron-down" id ="research-7-arrow-down" ></span>
                <h4 class="bold" >{% placeholder Title_7 %}</h4>
  </div>
  <div class="hide-research top-spacing-small" id ="research-7-content">
 
  {% placeholder link_7 %}

</div>
</div>

  <div class="research-container " >
    <div class="section_header research-header research-header-click" id = "research-8">
       <span class="glyphicon glyphicon-chevron-right" id ="research-8-arrow"></span>
                <span class="glyphicon glyphicon-chevron-down" id ="research-8-arrow-down" ></span>
                
                <h4 class="bold">{% placeholder Title_8 %}</h4>
                 </div>
 <div class="hide-research top-spacing-small" id ="research-8-content">
 
  {% placeholder link_8 %}

</div>
</div>
<a href = "http://powerplate.com/wellness-and-fitness/research" target="_blank">
  <div class="research-container " >
    <div class="section_header research-header " id = "research-9">
       <span class="glyphicon glyphicon-chevron-right" id ="research-9-arrow"></span>
                <span class="glyphicon glyphicon-chevron-down" id ="research-9-arrow-down" ></span>
                
                <h4 class="bold">{% placeholder Title_9 %}</h4>
                 </div>
 <div class="hide-research top-spacing-small" id ="research-9-content">
 
  {% placeholder link_8 %}

</div>
</div>
</a>

</div>

  <div class="col-sm-4 relative top-spacing right fixed">

     
 <!--div class="feature-research ">
  <a href = "#research1">
   <div class="whoitfor-selection selection1">
     {%placeholder "selection1" %}
  </div>
</a>
 <a href = "#research2">
  <div class="whoitfor-selection selection2">
     {%placeholder "selection2" %}
  </div>
</a>
 <a href = "#research3">
<div class="whoitfor-selection selection3">
     {%placeholder "selection3" %}
  </div>
</a>
 <a href = "#research4">
<div class="whoitfor-selection selection4">
     {%placeholder "selection4" %}
  </div>
</a>
 <a href = "#research5">
<div class="whoitfor-selection selection5">
     {%placeholder "selection5" %}
  </div>
</a>
 <a href = "#research6">
<div class="whoitfor-selection selection6">
     {%placeholder "selection6" %}
  </div>
</a>
 <a href = "#research7">
<div class="whoitfor-selection selection7">
     {%placeholder "selection7" %}
  </div>
</a>
 <a href = "#research8">
<div class="whoitfor-selection selection8">
     {%placeholder "selection8" %}
  </div>
</a>

</div> !-->
 <div class=" need-help-container no-top-margin">
<h3 class="just-white center border-bottom-white no-top-margin"><span class="small-weight">Need</span> <span class="super-high-weight">Help?</span></h4>
    {% placeholder "help-text" %}
  <a href="/contact">  
 <button class= "btn btn-dark btn-full btn-research">Contact Us</button>
</a>
  </div>  
</div>

</div>

{%endblock base_content %}
{% block add_script %}
<script>
$('.research-header-click').click(function(){
if($(this).hasClass('research-active') == false){
  $(this).addClass('research-active');
  id = this.id 

    $('#'+id+"-content").removeClass('animated fadeOutUp');
$('#'+id+"-content").show();
  $('#'+id+"-content").addClass('animated fadeInDown');

//$('#'+id+"-arrow").removeClass('glyphicon-chevron-right');
$('#'+id+"-arrow").hide()

$('#'+id+"-arrow-down").show()

}else{
  $(this).removeClass('research-active');
  id = this.id 
  $('#'+id+"-content").removeClass('animated fadeInDown');
 $('#'+id+"-content").addClass('animated fadeOutUp');
 setTimeout(function(){$('#'+id+"-content").hide();}, 500);
 $('#'+id+"-arrow-down").hide()
$('#'+id+"-arrow").show()
}


})
</script>
{%endblock add_script %}