
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block add_title %} Ultrasound Osteoporosis Assessment{% endblock add_title %}
{%block base_content %}
<div class="container bottom-spacing container-spacing">
    <div class="col-sm-12 section_heading center">
     <h3 class= " ">{% placeholder title_text %} </h3>
    </div>
  
  {% placeholder content1 %}


</div>
{%endblock base_content %}

