
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} Who Is It For{% endblock add_title %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/features.css" media="screen, projection" />    
{% endblock add_styles %}
{% block add_slider %}
<section id="feature_slider" class="shadow-it">
 <div class="container slider relative" >
<div id = "slider" class="lean-slider">  
      <div class="slide0 lean-slider-slide slide-lean">
          </div> 
<div class="slide2 lean-slider-slide slide-lean">
 {% placeholder banner_image %}
       {% placeholder banner_title %}
 </div>
         </div>
   <div id="slider-direction-nav"></div>  
    <div id="slider-control-nav"></div>
   
</div>
</section>        
{%endblock add_slider %}
{%block base_content %}
<div class="container top-spacing bottom-spacing">
    <div class="col-sm-12 section_heading center">
     <h3 class= "uppercase">{% placeholder header_title %} </h3>
    </div>
    <div id ="features">
    <div class="row feature_wrapper option3">
                    <!-- Feature -->
                    <div class="col-sm-3">
                        <div class="who-it-for-title">
                            <span>Who Is It For</span>
                        </div>    
                        <div class="feature who-it-for-container">
                      {% placeholder "whoitforselection" %}
                        </div>
                    </div>

                    
                <div class="col-sm-8">
  

                    <div class="who-if-for-p">{% placeholder who_it_for_content1 %}
                    </div>

                
                    <div class="condition-container">
                      <table class="condition-table">
                        <tr>
                        <th><h4 class="table-header">{%placeholder "header1" %}</h3></th>
                        <th><h4 class="table-header">{%placeholder "header2" %}</h3></th>
                        <th><h4 class="table-header">{%placeholder "header3" %}</h3></th>
                      </tr>
                     <tr>
                      <td>{%placeholder "bone-muscle-condition" %}</td>
                      <td>{%placeholder "benefits" %}</td>
                      <td>{%placeholder "features" %}</td>
                     </tr> 
                       </table> 
                    </div>  
                         <div class="slogan-container">
                      <h4>
                      {% placeholder 'quote1' %}
                    </h4>
                    </div> 

                     <p>{% placeholder who_it_for_content2 %}
                    </p>

                     <h4 class= " ">{% placeholder "graph-title" %} </h3>
         <div class="col-lg-12">
            {% placeholder "graph_image" %}
                </div>   
                  
                </div>
 
            </div>

</div>	

</div>


{%endblock base_content %}
{% block add_script %}
<script>
$(document).ready(function() {

    $('#slider').leanSlider({
       directionNav: '#slider-direction-nav',
            controlNav: '#slider-control-nav',
            pauseTime: 6000,
    });
});
</script>
{% endblock add_script %}
