
{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}
{% block add_title %} Who Is It For{% endblock add_title %}
{% block add_styles %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/compiled/features.css" media="screen, projection" />    
{% endblock add_styles %}
{% block add_slider %}
<section id="feature_slider" class="shadow-it">
 <div class="container slider relative  slider-wrapper" >
    

  <div class="container slider relative " >
 {% placeholder banner_image %}
       {% placeholder banner_title %}
 
  </div>       
 
</div>
</section>        
{%endblock add_slider %}
{%block base_content %}
<div class="container top-spacing bottom-spacing">
    <div class="col-sm-12 section_heading center">
     <h3 class= "uppercase">{% placeholder header_title %} </h3>
    </div>
    <div id ="features">
    <div class="row feature_wrapper option3">
                    <!-- Feature -->
                    <div class="col-sm-3">
                        <div class="who-it-for-title">
                            <span>Who Is It For</span>
                        </div>    
                        <div class="feature who-it-for-container">
                      {% placeholder "whoitforselection" %}
                        </div>


                        <div class="useful-links">
                            <h3 class="useful-link-header">Useful Links</h3>
                            {%placeholder "links" %}
                        </div>    

                    </div>

                    
                <div class="col-sm-8 ">
  

                    <div class="who-if-for-p">{% placeholder who_it_for_content %}
                    </div>

                    <div class="health-facts">
                        <h3 class="health-fact-header">Health Facts</h3>
                        {% placeholder "health-facts" %}
                    </div>    

                       <div class="risk-facts">
                        <h3 class="health-fact-header">Risks</h3>
                        {% placeholder "risks-facts" %}
                    </div> 

                     <h4 class= " ">{% placeholder "graph-title" %} </h3>
         <div class="col-lg-12">
            {% placeholder "graph_image" %}
                </div>   
                  
                </div>
 
            </div>

</div>	

</div>


{%endblock base_content %}


