{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load menu_tags %}

{% block add_title %} Who We Are{% endblock add_title %}
{% block base_content %}
<div id ="showcase" class="welcome-message">
<div class="container container-spacing">

</div></div>

		<div class='container'>	 
            <div class="col-sm-6 ">
               
                    <div class="feature first">
                        <div class="text about-feature">
                             <h4 class="tagline-home">About OsteoWorks</h4>
                            <p class= "main-text">
                                {% placeholder about_text %}
                              
                            </p>
                           

                        </div>
                    </div>
                </div>
            <div class="col-sm-6 ">
            	<div class="text about-feature">
            	
            	<hr>
            	<div class="video-container">
                    {% placeholder picture_container %}
				</div>
				</div>
            </div>

            <div 
            </div>
             
                    
                    <!-- Feature -->
                    <!-- <div class=" col-offset-2 col-sm-6 feature last video-container">
  						<h3 class= "section_heading bottom-border-home"> Learn About Us</h3>

                        <div class="text video-home">
                           
                        </div>
                    </div> -->

                </div>
            </div>
  
    



            <div id = "in_pricing">

             <div class="start">
                <p>Call Us For An Appointment At (604)999-9919 or</p>
                <a href="pricing.html">Contact Us</a>
            </div>
        </div>
        </div>
    
    </div>

   
{% endblock base_content %}
