{% load cms_tags %}

<div class= "row top-spacing">
	<div class="col-sm-12">

		<div class="testimonial-text">	
	{% render_model instance.testimonial "content" %}

			<div class='testimonial-by'>
				<h3 class='testimonial-name'>{% render_model instance.testimonial "name" %}</h3>
			<h4 class="testimonial-date">{% render_model instance.testimonial "date" %}</h4>
			</div>	
		</div>
	</div>
</div>	
<hr>
